{% set checkbox = this.getObject() %}
<div class="form-group">
    {% for key, item in checkbox.getOptions() %}
        <div class="checkbox{% if checkbox.isInline() %}-inline{% endif %}">
            <label>
                <input type="checkbox" 
                       name="{{ checkbox.getUid() }}" 
                       {% if checkbox.isDisabled() %}disabled{% endif %}
                       value="{{ key }}" 
                       {% if key in checkbox.getValue() %}checked{% endif %}>
                {{ item }}
            </label>
        </div>
    {% endfor %}
</div>
