{% set radio = this.getObject() %}
<div class="form-group">
    {% for key, item in radio.getOptions() %}
        <div class="radio{% if radio.isInline() %}-inline{% endif %}">
            <label>
                <input type="radio" 
                       name="{{ radio.getUid() }}" 
                       {% if radio.isDisabled() %}disabled{% endif %}
                       value="{{ key }}" 
                       {% if radio.getValue() == key %}checked{% endif %}>
                {{ item }}
            </label>
        </div>
    {% endfor %}
</div>
