{% set text = this.getObject() %}
{% set error = text.getError() %}
<div class="form-group {% if error is not null %}has-error{% endif %}">
    <label class="sr-only" for="">{{ text.getLabel() }}</label>
    <input type="text" 
           name="{{ text.getUid() }}" 
           {% if text.isDisabled() %}disabled{% endif %}
           {% if text.getValue() is not null%}value="{{ text.getValue() }}"{% endif %} 
           class="form-control" 
    >
    {% if error is not null %}
        <span class="help-block">{{ error }}</span>
    {% endif %}
</div>