<?php

require(__DIR__.'/../vendor/autoload.php');

$kernel = BackBee\Tests\TestKernel::getInstance();

BackBee\Tests\BackBeeTestCase::$kernel = $kernel;
BackBee\Tests\BackBeeTestCase::$app = $kernel->getApplication();
BackBee\Tests\BackBeeTestCase::$em = $kernel->getApplication()->getEntityManager();
