{% if link %}
    {% set icon %}
        <a href="#">{{ icon }}</a>
    {% endset %}
{% endif %}
<div class="bb-toolbar-block">
     <div class="bb-toolbar-icon">{{ icon|default('') }}</div>
     <div class="bb-toolbar-info">{{ text|default('') }}</div>
</div>
