<div id="bb-debug-toolbar">
    {% for name, template in templates %}
        {{ template.renderblock('toolbar', {
            'collector': profile.getcollector(name),
            'profiler_url': profiler_url,
            'token': profile.token,
            'name': name
          })
        }}
    {% endfor %}

    
    <a class="hide-button" title="Close Toolbar" onclick="
        var p = this.parentNode;
        p.style.display = 'none';
    "></a>

</div>