{% set password = this.getObject() %}
<div class="form-group">
    <label class="sr-only" for="">{{ password.getLabel() }}</label>
    <input type="password" 
           name="{{ password.getUid() }}"
           {% if password.isDisabled() %}disabled{% endif %}
        {% if password.getValue() is not null%}value="{{ password.getValue() }}"{% endif %} 
        class="form-control" 
    >
</div>