{% set textarea = this.getObject() %}
<div class="form-group">
    <label class="sr-only" for="">{{ textarea.getLabel() }}</label>
    <textarea name="{{ textarea.getUid() }}" 
              {% if textarea.isDisabled() %}disabled{% endif %}
              class="form-control" 
              rows="{{ textarea.getRows() }}">
    </textarea>
</div>