{% set url = this.getObject() %}
<div class="form-group">
    <label class="sr-only" for="">{{ url.getLabel() }}</label>
    <input type="url" 
        {% if url.getValue() is not null%}value="{{ url.getValue() }}"{% endif %} 
        class="form-control" 
        {% if url.getPlaceholder() is not null %}placeholder="{{ url.getPlaceholder() }}"{% endif %}
    >
</div>